* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
}

.img {

    margin: auto;
}

.textoUser {
    width: 90%;
    height: 35px;
    background-color: black;
    margin: auto;
    border-radius: 40px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.user {
    width: 70%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.795);
    height: 180px;
    margin: auto;
    margin-top: 45px;
    /* background-image: url(/img/lines-left.svg);
    background-size: 100%;
    background-repeat: no-repeat; */
    /* background-position: 0 35px; */
}

.inputUser {
    width: 90%;
    height: 34px;
    border-radius: 10px;
    border: none;
    border: 1px solid #c5c5c5;
    margin-top: 15px;
    text-align: center;
}

.btn {

    background-color: #FDDA24;
    color: black;
    height: 40px;
    font-weight: 600;
    width: 70%;
    border-radius: 100px;
    border: none;
    margin-top: 15px;
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }