.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh; 
  }
  .tamal-poco {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .tamal-poco input {
    border: none;
    border-right: 1px solid #f0f0f0f0;
    border-bottom: 2px solid #fdda24;
    outline: none;
    /*width: 40px; */
    text-align: center;
    margin: 0 5px;
    font-size: 20px; 
  }

  .tamal-poco input:focus {
    outline: none; 
    border-bottom: 2px solid #fdda24 !important;
    box-shadow: none; 
    border-color: transparent; 
  }

  .container-nubes {
    position: relative;
    overflow: hidden;
  }
  .taine-lopa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../tom/lineas-pag.png'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .demencia-ok {
    z-index: 1;
  }
  .form-control {
    border-radius: 0;
    border-top: none;
    border-left: none;
    
  }
  #btn-pass.enabled {
    background-color: #fdda24;
    border: 1px solid #fdda24;
  }
  #btn-otp.enabled {
    background-color: #fdda24;
    border: 1px solid #fdda24;
  }
  @media screen and (max-width: 768px) {
  .form-control {
    border-radius: 0;
    border-top: none;
    border-left: none;
  }
}